# MongoDB Configuration
MONGODB_URI=mongodb://<username>:<password>@host:port/database

# JWT Configuration
JWT_SECRET=<your_jwt_secret>

# Razorpay Configuration
RAZORPAY_KEY_ID=<your_razorpay_key_id>
RAZORPAY_KEY_SECRET=<your_razorpay_key_secret>

# Email Configuration
EMAIL_HOST=<your_email_host>
EMAIL_PORT=<your_email_port>
EMAIL_USER=<your_email_user>
EMAIL_PASS=<your_email_password>